---
import Layout from "../layouts/Layout.astro";
import Ad from "../sections/Advertisment.astro";
import Hero from "../sections/Hero.astro";
import Coaches from "../sections/coach.astro";
import Works from "../sections/Works.astro";
---

<Layout
    description="MonagasBox es un gimnasio de CrossFit en Maturín, Venezuela. Ofrecemos entrenamientos personalizados y clases grupales. ¡Vive la experiencia en el Box!"
    title="MonagasBox - ¡Gimnasio de CrossFit!"
    canonical="https://MonagasBox.vercel.app"
>
    <section class="h-[42rem] relative overflow-hidden flex items-center">
        <Hero
            src="https://www.crossfit.com/wp-content/uploads/2023/11/13114552/CrossFit-Where-Fitness-Meets-Health.mp4"
            poster="https://www.crossfit.com/wp-content/uploads/2023/11/13131232/crossfit-coach-led-fitness-training-adapted-for-you-handstand-hold.jpg"
            class="absolute -z-10 opacity-50 object-cover h-full w-full blur-sm"
        >
            <div class="mx-10 w-96">
                <p class="text-5xl text-secondary select-none">
                    Si Quieres <span class="text-primary">Cambiar Tu Vida</span
                    >, Este Es Tu Lugar
                </p>
            </div>
        </Hero>
    </section>

    <section class="flex justify-center m-10">
        <Ad />
    </section>

    <section class="flex justify-center p-10 h-fit bg-subsection items-center">
        <Coaches />
    </section>

    <section
        class="flex flex-col justify-center items-center space-y-10 my-10 mx-5"
    >
        <h2 class="text-2xl lg:text-5xl text-secondary">
            ¡Vive la Experiencia en el Box!
        </h2>
        <Works />
    </section>
</Layout>
