---
import Layout from "../layouts/Layout.astro";
import AdButton from "../sections/AdButton.astro";
import Hero from "../sections/Hero.astro";
---

<Layout title="MonagasBox" description="Web Oficial de el gym MonagasBox">
    <section class="h-[42rem] relative overflow-hidden flex items-center">
        <Hero
            src="https://www.crossfit.com/wp-content/uploads/2023/11/13114552/CrossFit-Where-Fitness-Meets-Health.mp4"
            poster="https://www.crossfit.com/wp-content/uploads/2023/11/13131232/crossfit-coach-led-fitness-training-adapted-for-you-handstand-hold.jpg"
            class="absolute -z-10 opacity-50 object-cover h-full w-full blur-sm"
        >
            <div class="mx-10 w-96">
                <p class="text-5xl text-secondary select-none">
                    Si Quieres <span class="text-primary">Cambiar Tu Vida</span
                    >, Este Es Tu Lugar
                </p>
            </div>
        </Hero>
    </section>

    <section class="flex justify-center m-10">
        <AdButton />
    </section>
</Layout>
