---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Aviso Legal - MonagasBox"
    description="Aviso Legal de MonagasBox"
    canonical="https://MonagasBox.vercel.app"
>
    <div></div>
</Layout>
