---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Política de privacidad - MonagasBox"
    description="Política de privacidad de MonagasBox"
    canonical="https://MonagasBox.vercel.app"
>
    <div></div>
</Layout>
