---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Política de privacidad - MonagasBox"
    description="Política de privacidad de MonagasBox"
    canonical="https://MonagasBox.vercel.app"
>
    <h1>Política de privacidad</h1>
    <h2>Información que recopilamos</h2>
</Layout>
