---
import { WODs } from "../consts/ListWorks";
---

<div
    class="w-full max-w-6xl inline-flex flex-nowrap overflow-hidden rounded-3xl shadow-[0_0_15px_0_var(--primary-color)] px-4 md:px-6 py-4"
>
    <ul class="carousel flex items-center justify-center">
        {
            WODs.map(({ src, name }) => (
                <li class="mx-2">
                    <div>
                        <img
                            src={src}
                            alt={name}
                            draggable="false"
                            class="rounded-3xl max-w-44"
                            title={name}
                        />
                    </div>
                </li>
            ))
        }
    </ul>
</div>

<!-- https://github.com/cruip/cruip-tutorials/blob/main/logo-carousel/index.html -->

<style>
    ul {
        margin: 0;
        padding: 0;
    }

    .carousel {
        animation: infinite-scroll 15s linear infinite;
    }

    @keyframes infinite-scroll {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(-100%);
        }
    }
</style>

<script>
    let ul = document.querySelector("ul") as HTMLElement;
    ul.insertAdjacentHTML("afterend", ul.outerHTML);
    (ul.nextSibling as HTMLElement).setAttribute("aria-hidden", "true");
</script>
